.container-fluid {
    height: 100%;
}

header {
    margin: 0;
    padding: 5px;
}
.jumbotron {
    margin: 20px;
}

.leftside {
    margin: 0;
}

#futureWeather {
    margin-left: 30px;
}

.card {
    padding: 5px;
    margin: 5px;
}

.past {
    width: 100%;
    border-style: solid;
    border-color: black;
    padding: 3px;
}

.five {
    display: inline-flex;
    color: white;
    position: absolute;
}